@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #F5F7FA;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4CAF4F;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}



body{
  font-family: Inter;
  box-sizing: border-box;
 overflow-x: hidden;
}